* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
    transition: 0.3s;
}

/* Navbar */

.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    background: #222;
    color: white;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

#themeButton {
    padding: 8px 12px;
    cursor: pointer;
}


/* Hero */

.hero {
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
}


/* Counter */

.counter {
    text-align: center;
    padding: 50px;
    background: #ddd;
}

.counter h1 {
    font-size: 50px;
    margin-top: 10px;
}


/* Services */

.services {
    padding: 60px 8%;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    width: 250px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
}


/* About */

.about {
    text-align: center;
    padding: 60px 20px;
}

.about p {
    margin-top: 15px;
}


/* Footer */

footer {
    text-align: center;
    padding: 25px;
    background: #222;
    color: white;
}


/* Dark Mode */

.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #222;
    color: white;
}

.dark .counter {
    background: #1e1e1e;
}